<template name="web_ListRequests">

      {{#each listrequests}}

      <div class="card">
        <div class="card-block">
          <p class="card-text">
            <div class="row">
              <div class="col-xs-10 col-md-10">
                <span class="item-title">
                  <i class="fa {{statusIcon}}"></i>
                  <a href="#" class="item-link item-link-status smart-select">
                    <!-- select -->
                    <select id="status" name="states">
                      <option value="estimation" {{disabled "estimation"}} {{selected "estimation"}}>Estimation</option>
                      <option value="progress" {{disabled "progress"}} {{selected "progress"}}>Progress</option>
                      <option value="done" {{disabled "done"}} {{selected "done"}}>Done</option>
                      <option value="approved" {{disabled "approved"}} {{selected "approved"}}>Approved</option>
                      <option value="closed" {{disabled "closed"}} {{selected "closed"}}>Closed</option>
                    </select>
                  </a>
                </span>
              </div>
              <div class="col-xs-2 col-md-2">
                {{#if enterTime}}
                <a id="enterTime" class="link"><i class="fa fa-2 fa-clock-o"></i></a>
                {{/if}}
              </div>
            </div>
          </p>
          <p class="card-text">
            <p class="color-gray">{{date}}</p>
            <p>{{destinationAddress}}</p>
            <p>{{formatComment}}</p>
            {{#if checkInvoice}}
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  {{#if invoiceServiceCost}}
                  <tr>
                    <th scope="row">Service cost</th>
                    <td class="right">{{invoiceServiceCost}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceTransportCost}}
                  <tr>
                    <th scope="row">Transport cost</th>
                    <td class="right">{{invoiceTransportCost}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceExtrasCost}}
                  <tr>
                    <th scope="row">Extras cost</th>
                    <td class="right">{{invoiceExtrasCost}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceTax}}
                  <tr>
                    <th scope="row">Tax</th>
                    <td class="right">{{invoiceTax}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceTotal}}
                  <tr>
                    <th scope="row">Total</th>
                    <td class="right">{{invoiceTotal}}</td>
                  </tr>
                  {{/if}}
                  </tbody>
                </table>
              </div>
            {{/if}}
          </p>
          <i class="fa fa-user"></i>
          <a href="{{pathFor 'Chat' _id=this.id_Client}}" >Chat with {{clientName}}</a>
        </div>
      </div>
      {{/each}}

</template>
