<template name="web_ApplicationLayoutDynamic">
  <div class="main-body {{platformClasses}} {{curretnPath}}">

		<div class="statusbar-overlay"></div>

		<div class="panel-overlay"></div>

		{{#if showLeftMenu}}
		  {{> PDRender name='LeftMenu' data=.}}
	  {{/if}}

    {{#if showRightMenu}}
      {{> PDRender name='RightMenu' data=.}}
    {{/if}}

		<div class="views col-xs-12 col-sm-6 col-sm-offset-2">

		  <div class="view view-main" data-page="index">

				<div class="navbar">
				  <div class="navbar-inner">

				    <div class="left">
              {{#if historyBack}}
                <a href="#" id="historyBack" class="link icon-only"> <i class="fa fa-chevron-left"></i></a>
              {{/if}}
              {{#if showLeftMenuIcon}}
                <a href="{{pathFor route='ClientProfileForm'}}" class="link icon-only"> <i class="fa fa-user "></i></a>
              {{/if}}
            </div>
					  <div class="center" >{{titleApp}}</div>
						<div class="right">
              {{#if showLeftMenuIcon}}
						    <a href="#" class="link icon-only open-panel"> <i class="fa fa-bars"></i></a>
              {{/if}}
						</div>
					</div>

					{{#if showSubNavBar}}
						<!-- Sub navbar -->
		        <div class="subnavbar">
		          <div class="buttons-row">
		            <div class="left">
		              <a id="getMyLocation" href="#" class="link icon-only"> <i class="fa fa-location-arrow"></i></a>
		            </div>
		            <input type="text" id="getAddressGeocoder" placeholder="Address" class="form-control" />
		            <div class="right">

		            </div>
		          </div>
		        </div>
          {{/if}}
				</div>

			  <div class="pages navbar-through toolbar-through">
					<div data-page="index" class="page {{#if showSubNavBar}} with-subnavbar {{/if}}">
            <div class="page-content">
              {{> PDRender name='HandymanMapBlock' data=.}}
            </div>
					</div>
				</div>
			</div>
		</div>
    <div id="alert_placeholder"></div>
</div>
</template>
