<template name="web_ListMyChats">
  {{#each listmychats}}
  <div class="list-group">
    <a href="{{pathFor 'Chat' _id=this.id_Client}}" class="list-group-item">
      <i class="fa fa-2 fa-comments-o"></i>
      <span class="text-oversize text-oversize-70">{{clientName}}</span>
      <span class="label label-default label-pill label-pill-baseline pull-xs-right">{{countMessages}}</span>
    </a>
  </div>
  {{/each}}
  <!-- <div class="list-block-label">List block label text goes here</div> -->
</template>
