<template name="web_HandymanProfileForm">
  <div class="content-block">
  {{#autoForm schema=HandymanProfileFormSchema id="HandymanProfileForm" type=formTypeMethod doc=this meteormethod="sendHandymanProfile" validation="keyup"}}
    <h5>Basic Info</h5>

    <fieldset class="form-group">
      <!--<label for="fullName"> Full names</label>-->
      <div class="input-group">
        <span class="input-group-addon" id="basic-fullName"><i class="fa fa-user fa-1-5"></i></span>
        {{> afQuickField name="fullName" label=false placeholder="Andrés garcia"}}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="email"> Email</label>-->
      <div class="input-group">
        <span class="input-group-addon" id="basic-email"><i class="fa fa-envelope fa-1-5"></i></span>
        {{> afQuickField name="email" label=false placeholder="email@gmail.com"}}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="password"> Password</label>-->
      <div class="input-group">
        <span class="input-group-addon" id="basic-unlock-alt"><i class="fa fa-unlock-alt fa-1-5"></i></span>
        {{> afQuickField label=false name="password" type="password" placeholder="*********"}}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="phone"> Phone</label>-->
      <div class="input-group">
        <span class="input-group-addon" id="basic-phone"><i class="fa fa-phone fa-1-5"></i></span>
        {{> afQuickField label=false name="phone" placeholder="+34(999)777-77-77"}}
      </div>
    </fieldset>

    {{> afFieldInput label=false type="hidden" id="docid" name="_id"}}
    {{> afFieldInput label=false type="hidden" name="id_Handyman" value="1"}}
    <h5>Availability information</h5>

    <fieldset class="form-group">
      <!--<label for="from"> From</label> -->
      <div class="input-group">
        <span class="input-group-addon" id="basic-from"><i class="fa fa-clock-o fa-1-5"></i></span>
        {{> afQuickField label=false name="availability.from"}}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="to"> To</label> -->
      <div class="input-group">
        <span class="input-group-addon" id="basic-to"><i class="fa fa-clock-o fa-1-5"></i></span>
        {{> afQuickField label=false name="availability.to"}}
      </div>
    </fieldset>

    <div class="container">
      <div class="col-sm-6">
        <button id="reset" type="button" class="btn btn-danger center-block">Cancel</button>
      </div>
      <div class="col-sm-6">
        <button id="submit" type="button" class="btn btn-success center-block">Save</button>
      </div>
    </div>
  {{/autoForm}}
  </div>
</template>
