<template name="web_LeftMenu">
  <div class="col-xs-4 col-sm-2" id="leftSidebar">
    <div class="content-block-wrapper">
      <ul class="list-group">
        <li class="list-group-item {{active 'HandymanProfileForm'}}"><a href="{{pathFor route='HandymanProfileForm'}}">Profile</a></li>
        <li class="list-group-item {{active 'ListMyChats'}}"><a href="{{pathFor route='ListMyChats'}}">List of chats</a></li>
        <li class="list-group-item {{active 'ListRequests'}}"><a href="{{pathFor route='ListRequests'}}">List of requests</a></li>
        <li class="list-group-item {{active 'Support'}}"><a href="{{pathFor route='Support'}}">Support</a></li>
        <li class="list-group-item {{active 'About'}}"><a href="{{pathFor route='About'}}">About</a></li>
        <li class="list-group-item">{{> atNavButton}}</li>
      </ul>
    </div>
  </div>
</template>
