<template name="About">
  <!-- Inset content block -->
  <div class="content-block inset">
    <div class="content-block-inner">
      <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
    </div>
  </div>

  <div class="content-block-title">FAQ</div>
  <!-- Inset content block -->
  <div class="content-block">
    <div class="content-block-inner">
      <p>How can I pay service?</p>
      <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
    </div>
  </div>

  <div class="content-block">
    <div class="content-block-inner">
      <p>How can I make request of service?</p>
      <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
    </div>
  </div>
  <div class="content-block">
    <div class="content-block-inner">
      <p>Should I pay fee for using of service?</p>
      <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
    </div>
  </div>
  <div class="content-block">
    <div class="content-block-inner">
      <p>How can I send support request?</p>
      <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
    </div>
  </div>
</template>
