<template name="ApplicationLayoutDynamic">
  <div class="main-body {{platformClasses}} {{curretnPath}}">

		<div class="statusbar-overlay"></div>

		<div class="panel-overlay"></div>

		{{#if showLeftMenu}}
		  {{> PDRender name='LeftMenu' data=.}}
	  {{/if}}

	  {{#if showRightMenu}}
      {{> PDRender name='RightMenu' data=.}}
		{{/if}}

		<div class="views">

		  <div class="view view-main" data-page="index">

				<div class="navbar">
				  <div class="navbar-inner">
				    <div class="left">
              {{#if historyBack}}
                <a href="#" id="historyBack" class="link icon-only"> <i class="fa fa-chevron-left"></i></a>
              {{/if}}
              {{#if showLeftMenuIcon}}
                <a href="{{pathFor route='ClientProfileForm'}}" class="link icon-only"> <i class="fa fa-user "></i></a>
              {{/if}}
            </div>
					  <div class="center">{{titleApp}}</div>
						<div class="right">
              {{#if showLeftMenuIcon}}
						    <a href="#" class="link icon-only open-panel"> <i class="fa fa-bars"></i></a>
              {{/if}}
						</div>
					</div>

					{{#if showSubNavBar}}
						<!-- Sub navbar -->
		        <div class="subnavbar">
		          <div class="buttons-row">
		            <div class="left">
		              <a id="getMyLocation" href="#" class="link icon-only"> <i class="fa fa-location-arrow"></i></a>
		            </div>
                <div class="center">
		              <input type="text" id="getAddressGeocoder" placeholder="Address" class="form-control" />
                </div>
		            <div class="right">
		              <a id="setLocationMarker" href="#" class="link icon-only"> <i class="fa fa-map-marker"></i></a>
		            </div>
		          </div>
		        </div>
          {{/if}}
				</div>

			  <div class="pages navbar-through toolbar-through">
					<div data-page="index" class="page {{#if showSubNavBar}} with-subnavbar {{/if}}">
						<div class="page-content {{#if toolbarMessage}} pull-to-refresh-content {{/if}}" data-ptr-distance="55">
              {{#if showTitle}}
							<div class="content-block-title center h2">{{Title}}</div>
								{{> yield}}
              {{else}}
                {{> yield}}
              {{/if}}
						</div>
					</div>
				</div>

			  {{#if toolbarMap}}
				<div class="toolbar toolbar-map">
				  <div class="toolbar-inner">
              <div class="left">
                <input type="text" placeholder="Choose service" readonly id="picker-service">
              </div>
              <div class="center">
                <input type="text" placeholder="Choose date" readonly id="picker-date">
              </div>
              <div class="right">
                <a id="createRequest" href="#" class="link icon-only"> <i class="fa fa-2 fa-bullhorn"></i></a>
              </div>
          </div>
				</div>
			  {{/if}}
        {{#if toolbarMessage}}
        <div class="toolbar messagebar">
          <div class="toolbar-inner">
            <textarea id="bodyMessage" placeholder="Message" class=""></textarea><a id="sendMessage" href="#" class="link">Send</a>
          </div>
        </div>
			  {{/if}}
			</div>
		</div>
</div>
</template>
