<template name="ApplicationLayoutChat">
  {{#if isIOS}}
    <!-- Framework7 iOS theme styles -->
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.ios.colors.min.css">
  {{/if}}

  {{#if isAndroid}}
    <!-- Material(Android) theme styles -->
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.colors.min.css">
  {{/if}}

  {{#if isWeb}}
    <!-- Bootstrap theme styles -->
  {{/if}}

  <div class="main-body {{platformClasses}} {{curretnPath}}">

		<div class="statusbar-overlay"></div>

		<div class="panel-overlay"></div>

		{{#if showLeftMenu}}
		  {{> LeftMenu}}
	  {{/if}}

	  {{#if showRightMenu}}
		  {{> RightMenu}}
		{{/if}}

		<div class="views">

		  <div class="view view-main" data-page="index">

				<div class="navbar">
				  <div class="navbar-inner">

				    <div class="left">
              {{#if showLeftMenu}}
                <a href="{{pathFor route='HandymanProfileForm'}}" class="link icon-only"> <i class="fa fa-user "></i></a>
              {{/if}}
            </div>
					  <div class="center" >{{titleApp}}</div>
						<div class="right">
              {{#if showLeftMenu}}
						    <a href="#" class="link icon-only open-panel"> <i class="fa fa-bars"></i></a>
              {{/if}}
						</div>
					</div>

				</div>

			  <div class="pages navbar-through toolbar-through">
					<div data-page="index" class="page {{#if showSubNavBar}} with-subnavbar {{/if}}">
						<div class="page-content pull-to-refresh-content" data-ptr-distance="55">
								{{> yield}}
						</div>
					</div>
				</div>

			  {{#if toolbar}}
        <div class="toolbar messagebar">
          <div class="toolbar-inner">
            <textarea id="bodyMessage" placeholder="Message" class=""></textarea><a id="sendMessage" href="#" class="link">Send</a>
          </div>
        </div>
			  {{/if}}
			</div>
		</div>
</div>
</template>
