<template name="HandymanProfileForm">
  <div class="content-block">
  <div class="content-block-inner">
  {{#autoForm schema=HandymanProfileFormSchema id="HandymanProfileForm" type=formTypeMethod doc=this meteormethod="sendHandymanProfile" validation="keyup"}}
    <div class="content-block-title">Basic Info</div>
    <div class="list-block inset">
		  <ul>
		    <li>
		      <div class="item-content">
            <div class="item-media"><i class="fa fa-user fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Full name</div>
              <div class="item-input">
                {{> afQuickField name="fullName" label=false placeholder="Andrés garcia"}}
              </div>
            </div>
          </div>
		    </li>
		    <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-envelope fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Email</div>
              <div class="item-input">
                {{> afQuickField name="email" label=false placeholder="email@gmail.com"}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-unlock-alt fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Password</div>
              <div class="item-input">
                {{> afQuickField label=false name="password" type="password" placeholder="*********"}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-phone fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Phone</div>
              <div class="item-input">
                {{> afQuickField label=false name="phone" placeholder="+34(999)777-77-77"}}
              </div>
            </div>
          </div>
        </li>
	    </ul>
    </div>
    {{> afFieldInput label=false type="hidden" id="docid" name="_id"}}
    {{> afFieldInput label=false type="hidden" name="id_Handyman" value="1"}}
    <div class="content-block-title">Availability information</div>
    <div class="list-block inset">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-clock-o fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">From</div>
              <div class="item-input">
                {{> afQuickField label=false name="availability.from"}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-clock-o fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">To</div>
              <div class="item-input">
                {{> afQuickField label=false name="availability.to"}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-50">
        <a id="reset" class="button button-big button-fill button-raised color-red">Cancel</a>
      </div>
      <div class="col-50">
        <a id="submit" class="button button-big button-fill button-raised color-green">Save</a>
      </div>
    </div>
  {{/autoForm}}
  </div>
  </div>
</template>
