<template name="LeftMenu">
  <div class="panel panel-left panel-reveal">
    <div class="content-block">

     <div class="list-block">
        <ul>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="{{pathFor route='HandymanMap'}}">Map</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="{{pathFor route='HandymanProfileForm'}}">Profile</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="{{pathFor route='ListMyChats'}}">List of chats</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="{{pathFor route='ListRequests'}}">List of requests</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="{{pathFor route='Support'}}">Support</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="{{pathFor route='About'}}">About</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
          <span class="item-link">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">{{> atNavButton}}</div>
              </div>
            </div>
          </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
