<template name="ListMyChats">
  <div class="list-block">
    <ul>
      {{#each listmychats}}
        <li>
          <a href="{{pathFor 'Chat' _id=this.id_Client}}" class="item-link item-content">
            <div class="item-media"><i class="fa fa-2 fa-comments-o"></i></div>
            <div class="item-inner">
              <div class="item-title">{{clientName}}</div>
              <div class="item-after"><span class="badge">{{countMessages}}</span></div>
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
  <!-- <div class="list-block-label">List block label text goes here</div> -->
</template>
