<template name="ListRequests">
  <div class="list-block cards-list">
    <ul>
      {{#each listrequests}}
        <li class="card">
          <div class="card-header">
            <span class="item-title">
              <i class="fa {{statusIcon}}"></i>
              <a href="#" class="item-link item-link-status smart-select" data-open-in="picker">
                <!-- select -->
                <select id="status" name="states">
                  <option value="estimation" {{disabled "estimation"}} {{selected "estimation"}}>Estimation</option>
                  <option value="progress" {{disabled "progress"}} {{selected "progress"}}>Progress</option>
                  <option value="done" {{disabled "done"}} {{selected "done"}}>Done</option>
                  <option value="approved" {{disabled "approved"}} {{selected "approved"}}>Approved</option>
                  <option value="closed" {{disabled "closed"}} {{selected "closed"}}>Closed</option>
                </select>
                <div>
                  <div class="item-inner">
                    <!-- Select label -->
                    <div class="item-title">Status</div>
                    <!-- Selected value, not required -->
                    <div idRequest={{_id}} class="item-after">{{formatStatus}}</div>
                  </div>
                </div>
              </a>
            </span>
            {{#if enterTime}}
            <a id="enterTime" class="link"><i class="fa fa-2 fa-clock-o"></i></a>
            {{/if}}
          </div>
          <div class="card-content">
            <div class="card-content-inner">
              <div class="card-content-inner">
                <p class="color-gray">{{date}}</p>
                <p>{{destinationAddress}}</p>
                <p>{{formatComment}}</p>
                {{#if checkInvoice}}
                  <hr>
                  {{#if invoiceServiceCost}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Service cost</div>
                      <div class="col-50 right">{{invoiceServiceCost}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceTransportCost}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Transport cost</div>
                      <div class="col-50 right">{{invoiceTransportCost}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceExtrasCost}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Extras cost</div>
                      <div class="col-50 right">{{invoiceExtrasCost}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceTax}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Tax</div>
                      <div class="col-50 right">{{invoiceTax}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceTotal}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Total</div>
                      <div class="col-50 right">{{invoiceTotal}}</div>
                  </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span class="item-title">
              <i class="fa fa-user"></i>
              <a href="{{pathFor 'Chat' _id=this.id_Client}}" >Chat with {{clientName}}</a>
            </span>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
