/* SCSS declarations go here */
.main-body {
	height: 100%;
}
.fa-2 {
  font-size: 2em;
}
.fa-2.fa-envelope {
  font-size: 1.5em;
}
.fa-2.fa-credit-card {
  font-size: 1.5em;
}
.fa-2.fa-credit-card-alt {
  font-size: 1.3em;
}
.fa-2.fa-calendar {
  font-size: 1.8em;
}
.fa-1-5 {
  font-size: 1.5em;
}
.fa-1-5.fa-user {
  font-size: 1.2em;
}
.fa-1-5.fa-phone {
  font-size: 1.2em;
}
.fa-1-5.fa-envelope {
  font-size: 1em;
}
.fa-1-5.fa-credit-card {
  font-size: 0.9em;
}
.fa-1-5.fa-credit-card-alt {
  font-size: 0.75em;
}
.fa-1-5.fa-calendar {
  font-size: 1.05em;
}
.fa-1-5.fa-file-text {
  font-size: 1.1em;
}
.fa-1-5.fa-clock-o {
  font-size: 1.3em;
}
#login-sign-in-link {
	display:none;
}
.content-block-title.center {
  text-align: center;
}
.content-block-title.h2 {
  font-size: 1.5em;
}
a#at-nav-button {
	cursor: pointer;
}
#login-dropdown-list {
	position: inherit;
  top: auto;
  margin: auto;
  padding-bottom: 25px;
}
#login-buttons {
  display: block;
  margin-right: 0.2px;
  width: auto;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;

  .login-close-text {
    display:none;
  }
	.additional-link-container {
    margin-top: 10px;
  }
}

.at-form {
  .at-title {
    text-align: center;
  }
  .at-sep {
    text-align: center;
    margin-top: 10px;
  }
  .at-signin-link {
    text-align: center;
    margin-top: 10px;
  }
  .at-signup-link {
    text-align: center;
    margin-top: 10px;
  }
  .at-pwd-link{
    text-align: center;
    margin-top: 10px;
  }
  .at-resend-verification-email-link {
    text-align: center;
    margin-top: 10px;
  }
  .at-error {
    margin-top: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    p {
      margin: 0.5em 0;
      color: #F44336;
    }
  }
  .at-result {
    text-align: center;
    margin-top: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    p {
      margin: 0.5em 0;
      color: #4caf50;
    }
  }
  .at-social-btn,
  .at-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 27px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height: 29px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background: #007aff;
    border: none;
  }

  .at-btn {
	  margin-top: 30px;
	  width: 250px;
	  margin-left: auto;
	  margin-right: auto;
	}

	.at-social-btn {
	  margin-top: 10px;
	  width: 250px;
	  margin-left: auto;
	  margin-right: auto;
	}

  .at-input {
    margin-top: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sign-up {
  .at-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

#map {
	height: 100%;
}

.modal-inner {
	.list-block {
		margin: 10px 0;
	}
	.full-label {
		font-weight: bold;
	}
	.mobile-phone {
		text-align: center;
	}
}

.fa-green {
	color: #4cd964;
}

.card-header-requests {
	width: 49%;
}

.list-block .item-link.item-link-status {
	display: inline-block;
}

.row {
	.right {
		text-align: right;
	}
	.left {
		text-align: left;
	}
}

.btn-lg {
	width: 100%;
}

.text-oversize {
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
}

.text-oversize-70 {
	width: 70%;
}

.label-pill-baseline {
	margin-top: 3%;
}
