/* SCSS declarations go here */
.platform-web {
  .at-social-btn {
    margin-top: 10px;
    &.active-state {
      opacity: .8;
    }
    &#at-facebook {
	    background: #007aff;
	  }
    &#at-twitter {
	    background: #4cd964;
	  }
    &#at-google {
	    background: #ff9500;
	  }
	  &#at-btn {
      background: #ff3b30;
    }
  }

  @mixin input-style {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      box-sizing: border-box;
      border: none;
      background: 0 0;
      border-radius: 0;
      box-shadow: none;
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 43px;
      color: #000;
      font-size: 17px;
      font-family: inherit;
    }
  }

  .subnavbar,
  .toolbar-inner
   {
    @include input-style;
  }

  .toolbar-inner {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      text-align: center;
    }
  }

  .at-form {
    .at-input {
      @include input-style;
    }
  }

  .panel {
    background-color: #fff;
  }

  #rightSidebar{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    .content-block-wrapper {
      position: absolute;
      height: 100%;
      padding-top: 44px;
      width: 90%;
    }

    .messagebar {
      position: absolute;
      height: 88px;

      #bodyMessage {
        resize: none;
        height: 4em;
        width: 100%;
        overflow: inherit;
        display: block;
      }
    }
  }
  #leftSidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    .content-block-wrapper {
      position: absolute;
      height: 100%;
      width: calc(100% - 0.9375rem);
      padding-top: 44px;
    }
  }
  .view, .views {
    float: none;
    z-index: 5000;
    height: 100%;
    position: absolute;
  }
  .view {
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 0.9375rem);
  }
  .page>.navbar, .page>.toolbar, .view>.navbar, .view>.toolbar, .views>.navbar, .views>.toolbar {
      position: absolute;
  }
  .navbar {
      left: 0;
      top: 0;
  }
  .navbar, .subnavbar, .toolbar {
      background: #f7f7f8;
  }
  .navbar, .toolbar {
      height: 44px;
      width: 100%;
      box-sizing: border-box;
      font-size: 17px;
      position: relative;
      margin: 0;
      z-index: 500;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .navbar-inner, .toolbar-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .navbar:after {
    backface-visibility: hidden;
  }

  .navbar:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #c4c4c4;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  .navbar .left {
    margin-right: 10px;
  }
  .navbar .right {
    margin-left: 10px;
  }
  .navbar .left, .navbar .right {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .navbar .center {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 44px;
    -webkit-flex-shrink: 10;
    -ms-flex: 0 10 auto;
    flex-shrink: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .toolbar {
    left: 0;
    bottom: 0;
  }
  .toolbar:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #c4c4c4;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }

  .subnavbar {
    height: 44px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: -1px;
    z-index: 20;
    box-sizing: border-box;
    padding: 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .subnavbar>.buttons-row {
    width: 100%;
  }
  .buttons-row {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .pages {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
  }
  .page {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #efeff4;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .navbar-fixed .page-content.with-subnavbar, .navbar-fixed .subnavbar~.page-content, .navbar-fixed .with-subnavbar .page-content, .navbar-through .page-content.with-subnavbar, .navbar-through .subnavbar~.page-content, .navbar-through .with-subnavbar .page-content {
    padding-top: 88px;
  }
  .tabbar-fixed .page-content, .tabbar-through .page-content, .toolbar-fixed .page-content, .toolbar-through .page-content {
    padding-bottom: 44px;
  }
  .navbar-fixed .page-content, .navbar-through .page-content {
    padding-top: 44px;
  }
  .page-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &.SignIn,
  &.SignUp,
  &.ForgotPwd,
  &.resetPwd,
  &.verifyEmail {
    .view, .views {
      position: inherit;
    }
    .pages {
      position: inherit;
    }
  }

  &.main-body {
    width: 791px;
  }

  .spinner-container {
    display: block;
    width: 100%;
    height: 150px;
  }

  /*Chat styles*/
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
  }

  .chat li.left .chat-body {
    margin-left: 60px;
  }

  .chat li.right .chat-body {
    margin-right: 60px;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  .panel-body {
    overflow-y: scroll;
    height: 250px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

  .messages {
    overflow-y: scroll;
    height: calc(100% - 155px);
    position: absolute;
    width: 100%;
  }

  .modal-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible {
    visibility: visible;
    opacity: 1;
  }

  .modal-overlay, .popup-overlay, .preloader-indicator-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 13000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
  }

  .modal {
    width: 270px;
    position: absolute;
    z-index: 13500;
    left: 50%;
    margin-left: -135px;
    margin-top: 0;
    top: 50%;
    text-align: center;
    border-radius: 13px;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0) scale(1.185);
    transform: translate3d(0,0,0) scale(1.185);
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -ms-transition-property: -ms-transform,opacity;
    -o-transition-property: -o-transform,opacity;
    transition-property: transform,opacity;
    color: #000;
    display: none;
  }

  .modal-inner {
    padding: 15px;
    border-radius: 13px 13px 0 0;
    position: relative;
    background: rgba(255,255,255,.95);
  }

  .modal-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  .modal-buttons {
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .list-block ul {
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  .modal.modal-in {
    opacity:1;

    -webkit-transform:translate3d(0,0,0) scale(1);
    transform:translate3d(0,0,0) scale(1)
  }
  .modal.modal-out{
    opacity:0;
    z-index:13499;
    -webkit-transition-duration:.4s;
    transition-duration:.4s;
    -webkit-transform:translate3d(0,0,0) scale(1);
    transform:translate3d(0,0,0) scale(1);
  }
  .modal-inner .mobile-phone,
  .modal-inner input[readonly] {
    border: none;
  }
  textarea {
    width: 100%;
    height: 100px;
    resize: none;
    line-height: 1.4;
    padding-top: 8px;
    padding-bottom: 7px;
  }
  .modal-button.modal-button-bold {
    font-weight: 500;
  }
  .modal-button:first-child {
    border-radius: 0 0 0 13px;
  }
  .modal-button:last-child {
    border-radius: 0 0 13px 0;
  }
  .modal-button:first-child:last-child {
    border-radius: 0 0 13px 13px;
  }
  .modal-button {
    width: 100%;
    padding: 0 5px;
    height: 44px;
    font-size: 17px;
    line-height: 44px;
    text-align: center;
    color: #007aff;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    background: rgba(255,255,255,.95);
  }
  .modal-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    display: block;
    z-index: 15;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    line-break: auto;
  }
  .popover.popover-picker-columns {
    width: 280px;
  }
  .popover.modal-in {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 1;
  }
  .popover {
    width: 320px;
    background: rgba(255,255,255,.95);
    z-index: 13500;
    margin: 0;
    top: 0;
    opacity: 0;
    left: 0;
    border-radius: 13px;
    position: absolute;
    display: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .popover-inner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .picker-columns.picker-modal-inline, .popover .picker-columns {
    height: 200px;
  }
  .popover .picker-modal {
    width: auto;
  }
  .picker-modal.picker-modal-inline, .popover .picker-modal {
    display: block;
    position: relative;
    background: 0 0;
    z-index: inherit;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .picker-columns {
    width: 100%;
    height: 260px;
    z-index: 11500;
  }
  .picker-modal {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 260px;
    z-index: 12500;
    display: none;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    background: #cfd5da;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  .popover .picker-modal .toolbar {
    background: 0 0;
  }
  .picker-modal .toolbar {
    position: relative;
    width: 100%;
    background: #f7f7f8;
  }
  .picker-modal.picker-modal-inline .toolbar:before,
  .popover .picker-modal .toolbar:before {
    height: 0px;
  }
  .picker-modal.picker-modal-inline .toolbar:after,
  .popover .picker-modal .toolbar:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #929499;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .picker-modal .toolbar+.picker-modal-inner {
    height: -webkit-calc(100% - 44px);
    height: -moz-calc(100% - 44px);
    height: calc(100% - 44px);
  }
  .picker-3d .picker-items {
    overflow: hidden;
    -webkit-perspective: 1200px;
    perspective: 1200px;
  }
  .picker-modal .picker-modal-inner {
    height: 100%;
    position: relative;
  }
  .picker-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    text-align: right;
    font-size: 24px;
    -webkit-mask-box-image: -webkit-linear-gradient(bottom,transparent,transparent 5%,#fff 20%,#fff 80%,transparent 95%,transparent);
    -webkit-mask-box-image: linear-gradient(to top,transparent,transparent 5%,#fff 20%,#fff 80%,transparent 95%,transparent);
  }
  .picker-3d .picker-items-col {
    overflow: visible;
  }
  .picker-3d .picker-item, .picker-3d .picker-items-col,
  .picker-3d .picker-items-col-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .picker-items-col.picker-items-col-left {
    text-align: left;
  }
  .picker-items-col {
    overflow: hidden;
    position: relative;
    max-height: 100%;
  }
  .picker-items-col.picker-items-col-center {
    text-align: center;
  }
  .popover-angle.on-bottom {
    left: 0;
    top: 100%;
  }
  .popover-angle {
    width: 26px;
    height: 26px;
    position: absolute;
    left: -26px;
    top: 0;
    z-index: 100;
    overflow: hidden;
  }
  .popover-angle.on-bottom:after {
    left: 0;
    top: -19px;
  }
  .popover-angle:after {
    content: ' ';
    background: rgba(255,255,255,.95);
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .picker-center-highlight {
    height: 36px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -18px;
    pointer-events: none;
  }
  .picker-center-highlight:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #a8abb0;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  .picker-center-highlight:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #a8abb0;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .picker-item {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    white-space: nowrap;
    position: relative;
    color: #707274;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }
  .picker-3d .picker-item {
    -webkit-transform-origin: center center -110px;
    transform-origin: center center -110px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .picker-3d .picker-item, .picker-3d .picker-items-col, .picker-3d .picker-items-col-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .picker-item.picker-selected {
    color: #000;
    -webkit-transform: translate3d(0,0,0) rotateX(0);
    transform: translate3d(0,0,0) rotateX(0);
  }
  .picker-items-col-absolute .picker-item {
    position: absolute;
  }
  .popover .picker-modal .toolbar {
    background: 0 0;
  }
  .picker-items-col.picker-items-col-divider {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #alert_placeholder {
    position: absolute;
    bottom: 10px;
    left: .9375rem;
    z-index: 9999;
    padding-right: .9375rem;
    width: 16.666667%;
  }
}
